*.pyc
data/
data_filtered/
*.DS_Store
*~

# Environments
venv/

# Pycharm
.idea/

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# ROM https://github.com/openai/atari-py/blob/master/README.md#roms
ROMS/
HC ROMS.zip
